<h1>List of all directors</h1>

<form action="/insert_director_record" method="post">
  <div>
    <label for="name_field">Name</label>
    <input id="name_field" type="text" name="query_name">
  </div>

  <button>Create director</button>
</form>

<hr>

<% @list_of_directors.each do |director| %>
  <div>
    <h2><%= director.name %></h2>
    <a href="/directors/<%= director.id %>">Show details</a>
  </div>
<% end %>
